.dashboard--chatlist-panel {
  height: 100%;
  width: 28%;
  min-width: 400px;
  display: block;

  .no-contacts--container {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    font-size: small;

    img {
      height: 50px;
      width: 50px;
      margin-bottom: 15px;
    }
  }

  .home--container {
    height: 100%;
    background: #131313;
  }

  .contacts--container {

    .chat-list--container {
      .card-img--container {
        width: 25%;
      }

      .card-info {
        width: 75%;
        padding: 10px;
      }
    }
  }

  .home-search--container {
    width: 100%;
    margin-top: 0px;
    border-top-left-radius: 40px;
    background: #202329;
    height: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        border-radius: 5px;
        background: #2e333d;
        width: 85%;
        height: 52px;
        box-shadow: none;
        color: var(--sixth-col);
        outline: none;
        border: none;
        font-size: small;
        padding-left: 15px;
      }
    }

    input::placeholder {
      color: var(--sixth-col);
    }

    div {
      width: 100%;
      height: 30%;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 15px;
      padding-top: 50px;


      h1 {
        display: block;
        width: 72%;
        color: var(--sixth-col);
        padding-left: 10px;
      }

      span {
        width: 28%;
        height: 100%;

        button {
          width: 50%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          background: none;
          border: none;

          img {
            height: 30px;
            width: 30px;
          }
        }
      }
    }
  }

  .home-contacts--container {
    width: 100%;
    display: flex;
    border-bottom-left-radius: 40px;
    background: #202329;
    overflow-y: scroll;
    height: 83%;
    scroll-behavior: smooth;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .chat-list--container {
    display: flex;
    cursor: pointer;
    border-top: 1px solid #2e333d;
    background: #202329;
    width: 90%;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;

    p {
      color: #848484;
      display: inline-block;
      white-space: nowrap;
      animation: none;
      text-wrap: nowrap;
      overflow: clip;
      margin-top: 7px;
    }

    h4 {
      color: var(--sixth-col);
      overflow: clip;
    }

    .card-img--container {
      border-radius: 10px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;

      img {
        display: block;
        border-radius: 15px;
        box-shadow: none;
        height: 70px;
        width: 70px;
        object-fit: cover;
      }
    }

    .card-info {
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      margin: auto;
      width: 50%;
      overflow: hidden;
      height: 100%;
      justify-content: center;
      position: relative;
      white-space: nowrap;
      padding: 5px;
    }

    .card-info-details {
      width: 25%;
      overflow: initial;
      align-items: center;

      h4 {
        color: #848484;
        font-size: small;
      }

      p {
        font-size: smaller;
        color: orange;
      }
    }
  }

  .chat-list--container._active {
    background: #484851;
    border-radius: 30px;
  }

  .chat-list--container:hover {
    background: #2e333d;
    border-radius: 30px;
  }

  .card-info {
    font-size: medium;
  }

}


/* RESPONSIVE CHATLIST */
@media (max-width: 1100px) {
  .dashboard--chatlist-panel {
    display: block;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    height: 100%;
    width: 100% !important;
    min-width: 100%;

    .home--container {
      background: #0c0c0c;
    }

    .home-contacts--container {
      border-bottom-left-radius: 0px;
      height: 77%;
      background: #0c0c0c;
    }

    .home-search--container {
      border-top-left-radius: 0px;
      height: 23%;
      background: #161616;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;

      span {
        height: 60%;

        input {
          background: #1C1C1C !important;
        }
      }

      div {
        padding-top: 35px;
        height: 40%;
      }
    }
  }

  .contact-navbar--container {
    background: #24242a !important;
    height: 100px !important;
  }

  .home-search--container {
    div {
      padding-top: 0px;
    }
  }

  .chat-list--container {
    min-height: 80px !important;
    width: 100% !important;
    border-top: 0px !important;
    background: #0c0c0c !important;

    .card-info {
      font-size: smaller;

      p {
        margin-top: 5px;
      }
    }

    .card-img--container {
      width: 25%;


      img {
        width: 55px !important;
        height: 55px !important;
      }
    }
  }

  .chat-list--container:hover {
    border-radius: 0px !important;
    background: #1C1C1C !important;
  }
}

.active-panel {
  height: 100%;

  &.show {
    display: block;
  }

  &.hide {
    display: none;
  }
}
