.dashboard--chatbox-panel {
  height: 100%;
  width: 100%;
  display: flex;
  background: #131313;

  .chat-box {
    background: #202329;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;

    p {
      font-size: 15px;
    }

    .chatbox-default-message {
      margin: auto;
      display: flex;
      flex-direction: column;
      height: 50px;
      justify-items: center;
      align-items: center;

      h1 {
        margin-top: 10px;
        color: #fff;
      }
    }
  }

  .contact-navbar--container {
    height: 120px;
    background: #202329;
    border-top-right-radius: 40px;

    img {
      margin-left: 20px;
    }

    span {
      justify-content: center;

      h3 {
        color: var(--sixth-col);
      }
    }
  }

  .messages-wrapper {
    margin-top: 0px;
    background: #202329;
  }

  .send-message {
    background: #202329;
    box-shadow: none;

    .form-input__input {
      background: #202329;
      color: var(--sixth-col);
      box-shadow: none;
      font-size: inherit;
    }
  }

  .send-message__buttons {
    width: 150px;

    .send-message__buttons__img {
      background: #202329;
      width: 40%;
      margin-right: 10px;
    }

    button {
      background: var(--third-col);
      width: 50%;
      height: 55px;
      border-radius: 50px;
    }
  }
}
