.home--container {
  background: #24242a;
}

.dashboard--main-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.dashboard--chatlist-panel {
  height: 100%;
  width: 40%;
  border-right: 1px solid #484851;

  .home-search--container {
    width: 100%;
    margin-top: 0px;
    border-top-left-radius: 40px;
    background: #2f2f37;
    height: 150px;

    input {
      border-radius: 5px;
      background: #484851;
      width: 85%;
      height: 52px;
      box-shadow: none;
      color: var(--sixth-col)
    }

    input::placeholder {
      color: var(--sixth-col);
    }
  }

  .home-contacts--container {
    width: 100%;
    border-bottom-left-radius: 40px;
    background: #2f2f37;
    overflow-y: scroll;
    height: 100%;
    scroll-behavior: smooth;
  }

  .chat-list--container {
    cursor: pointer;
    border-top: 1px solid #35353e;
    background: #2f2f37;
    width: 90%;
    height: 110px;

    .card-img--container {
      border-radius: 10px;

      img {
        border-radius: 15px;
        box-shadow: none;
        height: 80px;
        width: 80px;
      }
    }
  }

  .chat-list--container._active {
    background: #484851;
    border-radius: 30px;
  }

  .chat-list--container:hover {
    background: #484851;
    color: black;
    border-radius: 30px;
  }

  .card-info {
    font-size: medium;
  }

}



.dashboard--chatbox-panel {
  height: 100%;
  width: 70%;

  .contact-navbar--container {
    height: 120px;
    background: #2f2f37;

    img {
      margin-left: 20px;
    }

    span {
      justify-content: center;

      h3 {
        color: var(--sixth-col);
      }
    }
  }

  .messages-wrapper {
    margin-top: 0px;
    background: #2f2f37;
  }

  .send-message {
    background: #2f2f37;
    box-shadow: none;

    .form-input__input {
      background: #2f2f37;
      color: var(--sixth-col);
      box-shadow: none;
      font-size: inherit;
    }
  }

  .send-message__buttons {
    width: 150px;

    .send-message__buttons__img {
      background: #2f2f37;
      width: 40%;
      margin-right: 10px;
    }

    button {
      background: var(--third-col);
      width: 50%;
      height: 55px;
      border-radius: 50px;
    }
  }
}

.nav-bar_left {
  height: 100vh;
  width: 90px;
  display: flex;
  flex-direction: column;
  box-shadow: none;
  z-index: 1;
  background: #24242a;

  .user-avatar-container {
    position: absolute;
    bottom: 0;
    margin-left: 15px;
    margin-bottom: 12px;
  }

  .logo-default--container {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 15px;

    img {
      margin: auto;
    }
  }

  .menu-items {
    height: 400px;
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    background: #24242a;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;

    hr {
      width: 60%;
      color: var(--sixth-col);
    }

    .menu-item {
      background: #24242a;
      border: none;
      color: var(--sixth-col);
      margin-top: 10px;
      padding: 8px;
      width: 80%;

      img {
        height: 35px;
        width: 35px;
      }
    }

    .menu-item:hover {
      background: #2f2f37;
      border-radius: 10px;
    }
  }
}


/* Base layout */
.dashboard--main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Panels */
.dashboard--chatlist-panel {
  flex: 1;
  display: block;
}

.dashboard--chatbox-panel {
  flex: 2;
  display: block;
}

/* Desktop layout */
@media (min-width: 769px) {
  .dashboard--main-container {
    flex-direction: row;
  }

  .dashboard--chatlist-panel,
  .dashboard--chatbox-panel {
    display: block;
  }
}

/* Mobile layout */
@media (max-width: 1100px) {
  .dashboard--main-container {
    display: flex;
    flex-direction: row;
  }

  .dashboard--chatlist-panel {
    display: block;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    height: 92%;

    .home-contacts--container {
      border-bottom-left-radius: 0px;
    }

    .home-search--container {
      border-top-left-radius: 0px;
    }
  }

  .dashboard--chatbox-panel {
    display: none;
  }

  /* Show and hide classes */
  .dashboard--chatlist-panel.hide {
    display: none;
  }

  .dashboard--chatbox-panel.show {
    display: block;
  }

  .contact-navbar--container {
    background: #24242a !important;
    height: 100px !important;
  }

  /* RESPONSIVE CHATLIST */
  .chat-list--container {
    width: 100% !important;
    min-height: 75px !important;
    height: 75px !important;



    .card-info {
      font-size: smaller;
      width: 88% !important;

      p {
        margin-top: 5px;
      }
    }

    .card-img--container {
      width: 90px !important;

      img {
        width: 50px !important;
        height: 50px !important;
      }
    }
  }

  .home-search--container {
    background: #24242a !important;
  }

  /* RESPONSIVE NAVBAR*/

  .dashboard--navbar-container.hide-navbar {
    display: none;
  }

  .nav-bar_left {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    z-index: 1;

    hr {
      display: none;
    }

    span {
      width: 100%;
      height: 100%;
    }

    .logo-default--container {
      display: none;
    }

    .menu-items {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;

      margin-top: 0px;

      .menu-item {
        margin-top: 0px;
        font-size: revert;

      }

      .menu-item:hover {
        border-radius: 0px;
      }
    }

    .user-avatar-container {
      position: initial;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 30%;
      margin-left: 0px;
      margin-bottom: 0px;
    }

  }
}
