.home--container {
  background: #24242a;
}

.dashboard--main-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.dashboard--chatlist-panel {
  height: 100%;
  width: 40%;
  z-index: 1;
  border-right: 1px solid #484851;
}

.messages-wrapper {
  margin-top: 0px;
}

.dashboard--chatbox-panel {
  height: 100%;
  width: 70%;
}

.home-search--container {
  width: 100%;
  margin-top: 0px;
  border-top-left-radius: 40px;
  background: #2f2f37;
  height: 150px;

  input {
    border-radius: 5px;
    background: #484851;
    width: 85%;
    height: 52px;
    box-shadow: none;
    color: var(--sixth-col)
  }

  input::placeholder {
    color: var(--sixth-col);
  }
}


.home-contacts--container {
  width: 100%;
  border-bottom-left-radius: 40px;
  background: #2f2f37;
}

.chat-list--container {
  cursor: pointer;
  border-top: 1px solid #35353e;
  background: #2f2f37;
  width: 90%;

  .card-img--container span {
    height: 65px;
    width: 65px;
    border-radius: 10px;

    img {
      border-radius: 15px;
      box-shadow: none;
    }
  }
}

.chat-list--container._active {
  background: #484851;
  border-radius: 30px;
}

.chat-list--container:hover {
  background: #484851;
  color: black;
  border-radius: 30px;
}

.card-info {
  font-size: medium;
}


.messages-wrapper {
  background: #2f2f37;
}

.send-message {
  background: #2f2f37;
  box-shadow: none;

  .form-input__input {
    background: #2f2f37;
    color: var(--sixth-col);
    box-shadow: none;
    font-size: inherit;
  }
}



.send-message__buttons {
  width: 150px;

  .send-message__buttons__img {
    background: #2f2f37;
    width: 40%;
    margin-right: 10px;
  }

  button {
    background: var(--third-col);
    width: 50%;
    height: 55px;
    border-radius: 50px;
  }
}

.nav-bar_left {
  height: 100vh;
  width: 90px;
  display: flex;
  flex-direction: column;
  box-shadow: none;
  z-index: 1;
  background: #24242a;

  .user-avatar-container {
    position: absolute;
    bottom: 0;
    margin-left: 15px;
    margin-bottom: 12px;
  }

  .logo-default--container {
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 15px;

    img {
      margin: auto;
    }
  }

  .menu-items {
    height: 400px;
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    background: #24242a;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;

    hr {
      width: 60%;
      color: var(--sixth-col);
    }

    .menu-item {
      background: #24242a;
      border: none;
      color: var(--sixth-col);
      margin-top: 10px;
      padding: 8px;
      width: 80%;

      img {
        height: 35px;
        width: 35px;
      }
    }

    .menu-item:hover {
      background: #2f2f37;
      border-radius: 10px;
    }
  }
}
