.home--container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background: linear-gradient(0deg, rgba(49, 49, 53, 1) 0%, rgba(136, 221, 160, 1) 100%);
  overflow: auto;
  height: 100vh;
  min-height: 1100px;
}

.home-search--container {
  height: 180px;
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 0px;
  background: #24242a;
  box-shadow: var(--div-shadows);
}

.home-search--container input {
  width: 90%;
  max-width: 1200px;
  height: 50px;
  background: darkgray;
  outline: none;
  border-radius: 3px;
  border: none;
  padding-left: 15px;
  font-size: initial;
  box-shadow: var(--div-shadows3);
  color: #24242a;
}

.home-search--container input::placeholder {
  color: #24242a;
}

.home-contacts--container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #24242a;
  height: 70%;
  width: 1200px;
  margin: auto;
  margin-top: 0px;
  box-shadow: var(--div-shadows);
}


.chat-list--container {
  background: #24242a;
  height: 150px;
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  border-top: 1px solid #3a3a44;
}

.chat-list--container p {
  color: #cfe4ea;
}

.chat-list--container h3 {
  color: var(--sixth-col);
}



.card-img--container {
  width: 30%;
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.card-img {
  width: 90px;
  height: 90px;
  border-radius: 5px;
  box-shadow: var(--div-shadows);
  object-fit: cover;
}

.card-info {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: auto;
  width: 60%;
  overflow: hidden;
  height: 100%;
  justify-content: center;
  position: relative;
  white-space: nowrap;
  padding: 20px;
}

.card-info p {
  display: inline-block;
  white-space: nowrap;
  animation: none;
  text-wrap: nowrap;
}

@keyframes scroll-left {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.card-settings {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-settings button {
  background: none;
  border: none;
  border: 2px solid white;
  border-radius: 50px;
  padding: 8px;
  padding-top: 10px;
  display: flex;
}

.card-settings button:hover {}

.card-settings button>img {
  width: 25px;
  cursor: pointer;
}

.nocontacts-text {
  color: #fff;
  margin: auto;
  display: block;
}

@media only screen and (max-width: 1200px) {

  .home-search--container {
    margin-top: 60px;
    width: 100%;
  }

  .home-contacts--container {
    width: 100%;
    height: 100%;
    box-shadow: var(--div-shadows3);
  }

  .chat-list--container {
    width: 100%;
    max-width: none;

  }

  .card-img--container {
    width: 40%;
  }



  .home-search--container {
    margin-bottom: 0px;
    height: 140px;

  }

  .card-info {
    padding: 10px;
    font-size: math;

  }
}

.no-contacts--container {
  margin: auto;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: var(--third-col);
}

.no-contacts--container>img {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;

}

@media only screen and (max-width: 600px) {

  .home-search--container {
    height: 80px;
  }

  .home-search--container input {
    height: 40px;
    border-radius: 50px;
    width: 95%;
    background: #35353c;
  }

  .home-search--container input::placeholder {
    color: darkgray;
  }

  .home-contacts--container {
    box-shadow: none;
  }

  .chat-list--container {
    height: 90px;
    border: none;
    box-shadow: none;
  }

  .card-img--container {
    width: 25%;
  }

  .card-img--container span {
    display: flex;
    border-radius: 50px;
    height: 55px;
    width: 55px;
  }

  .card-img--container span>img {
    object-fit: cover;
    height: 100%;
    border-radius: 50px;

  }

  .card-info {
    margin-left: 0px;
    width: 75%;
    font-size: small;
  }

  .card-settings {
    width: 0%;
  }

  .card-settings button {
    position: absolute;
    left: 0;
    height: 90px;
    width: 100%;
    border: none;
    border-radius: 0px;
  }

  .card-settings img {
    display: none;
  }
}
