.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 0px;
  background-color: var(--dark-bg-theme);
}

.container h2 {
  color: #020202;
}

.container h3 {
  color: #e2eabc;
}

.container p {
  color: #6d5a5a;
}



.profile--container {
  height: 200px;
  border-bottom: 2px solid #7dc8815e;
  width: 100%;
  display: flex;
  margin-top: 60px;
  background-color: #FFFB7D;
  background-image: linear-gradient(45deg, #FFFB7D 0%, #85FFBD 100%);
  box-shadow: var(--div-shadows3);
  margin-top: 60px;
}



.chat-list--container {
  background: #24242a;
  height: 150px;
  width: 70%;
  display: flex;
  border-bottom: 2px solid #164e57;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: var(--div-shadows);
}

.chat-list--container p {
  color: #cfe4ea;
}

@media only screen and (max-width: 543px) {
  .chat-list--container {
    width: 90%;
  }
}

.card-img--container {
  width: 50%;
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.card-img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  border: 2px solid green;
}

.card-info {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 60%;

}

.card-settings {
  margin-right: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-settings>img {
  width: 28px;
  cursor: pointer;
}

@media only screen and (max-width: 489px) {
  .card-settings {
    margin-right: 15px;

  }

}
