.chat-bubble {
  border-radius: 20px 20px 20px 0;
  padding: 15px;
  background: #24242ac2;
  width: max-content;
  max-width: calc(100% - 50px);
  box-shadow: -2px 2px 1px 1px #00000045;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.chat-bubble__right>img {
  width: auto;
  max-width: calc(100% - 50px);
  max-height: 450px;
  box-shadow: 0 2px 1.5px #00000080;
  border-radius: 2px;
}

.chat-bubble.right {
  margin-left: auto;
  border-radius: 20px 20px 0 20px;
  background-color: #a1aead73;
  box-shadow: -2px 2px 1px 1px #00000045;
  color: lightskyblue;
}

.chat-bubble.right p:nth-child(1) {
  color: #ffff;
}

.chat-bubble__left {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  color: darkgreen;
}

.user-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #add3e6;
}

.user-message {
  word-break: break-all;
  color: #fafad2fa;
}

.message-time {
  display: block;
  text-align: right;
}

.totally {
  background: red;
  position: absolute;
  width: 500px;
  bottom: 0;
}

.message-img {
  cursor: pointer;
}

@media only screen and (min-width: 1000px) {
  .chat-bubble__right>img {
    width: 450px;
  }
}
