.NewContact-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: #34343a;
}

.main-block {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  box-sizing: border-box;
  max-width: 800px;
}


.search--container {
  background: #24242a;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: var(--div-shadows3);
}

#search-input {
  width: 80%;
  height: 50px;
  border-radius: 4px 0px 0px 4px;
  border: none;
  box-shadow: var(--btn-shadows);
}

#search-input-btn {
  height: 50px;
  width: 70px;
  border: none;
  border-radius: 0px 4px 4px 0px;
  background: var(--third-col);
  font-weight: 550;
  border-left: 0.1px solid #24242a3d;
}

#search-input-btn:hover {
  background: #C5EACF;
}

.search-results--container {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #24242a82;
}

#search--title {
  position: absolute;
  margin-top: -200px;
  text-align: center;
  color: var(--third-col);
  font-size: calc(1.5vw + 1rem);
  /* Responsive formula */
  white-space: nowrap;
  /* Prevent breaking into multiple lines */
  transition: font-size 0.3s ease;
  /* Smooth resizing */
}

@media only screen and (max-width: 580px) {
  .main-block {
    width: 93%;
    margin-top: 0px;
  }

  #search--title {
    margin-top: -150px;
    font-size: calc(1vw + 0.9rem);
  }
}

@media only screen and (min-width: 1600px) {
  #search--title {
    font-size: xx-large;

  }

}

.NewContact-chat-list--container {
  width: 100%;
  margin-top: 0px;
  border-bottom: none;
  box-shadow: var(--div-shadows3);
}
