.NewContact-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: rgb(49, 49, 53);
  background: linear-gradient(0deg, rgba(49, 49, 53, 1) 52%, rgba(136, 221, 160, 1) 100%);
}

.NewContact-chat-list--container {
  width: 100%;
  margin-top: 0px;
  border-bottom: none;
  box-shadow: var(--div-shadows3);
}

.main-block {
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 800px;
}


.search--container {
  background: #24242a;
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: var(--div-shadows3);
}


.search--container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  text-align: center;
  color: #24242a;
  white-space: nowrap;
  transition: font-size 0.3s ease;
  background: #88dda0;
  text-wrap: auto;
  border-radius: 10px;
  padding: 50px;
  box-sizing: border-box;
}

.search--container>span {
  display: flex;
  height: 50%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.search--container input {
  width: 80%;
  height: 50px;
  border-radius: 4px 0px 0px 4px;
  border: none;
  box-shadow: var(--btn-shadows);
  text-align: center;
  font-style: italic;
  font-size: large;
  background: lightgray;
}

.search--container input::placeholder {
  font-size: smaller;
}

.search--container input:focus {
  outline: none;
  border: 1px solid black;
}

.search--container button {
  height: 50px;
  width: 70px;
  border: none;
  border-radius: 0px 4px 4px 0px;
  background: var(--third-col);
  font-weight: inherit;
  border-left: 0.1px solid #24242a3d;
}

.search--container button:hover {
  background: #C5EACF;
}

.search-results--container {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #24242a82;
}


@media only screen and (max-width: 580px) {
  .main-block {
    width: 93%;
  }

  #search-input {
    width: 67%;
  }

  .search--container>h1 {
    font-size: x-large;
  }
}

@media only screen and (min-width: 1600px) {
  .search--container>h1 {
    font-size: xx-large;
  }
}
