.messages-wrapper {
  padding: 75px 40px 75px 40px;
  min-height: 100vh;
  background-image: linear-gradient(89.4deg, rgba(183, 52, 78, 0.57) 0.8%, rgb(43, 130, 121) 99.4%);
}

.send-message {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  background-color: #24242a;
  display: flex;
  box-sizing: border-box;
  box-shadow: var(--div-shadows2);
}

.form-input__input {
  height: 40px;
  padding: 7px;
  box-shadow: var(--div-shadows);
  border-radius: 5px 0 0 5px;
  border: none;
  background-color: white;
  color: #1c2c4c;
  font-size: 1rem;
  width: 100%;
}

.send-message>input:placeholder {
  color: #ddd;
}

.send-message> :is(input, button):focus {
  outline: none;
  border-bottom: 1px solid #7cc5d9;
}



.send-message__buttons {
  box-sizing: border-box;
  display: flex;
  width: 100px;
}

.send-message__buttons__img {
  width: 90px;
  box-sizing: border-box;
  background: #fff;
}

.send-message__buttons__img>img {
  box-sizing: border-box;
  position: absolute;
  padding-top: 11px;
  margin-left: 10px;
  width: 30px;
}

.send-message__buttons__img>input {
  background: blue;
  width: 50px;
  height: 100%;
  opacity: 0;
}

.send-message__buttons>button {
  width: 100%;
  display: block;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  color: #242443;
  border: 1px solid #7cc5d9;
  background-color: var(--third-col);
  font-weight: 600;
  box-shadow: var(--btn-shadows);
}
