.messages-wrapper {
  padding: 20px 40px 20px 40px;
  height: 100%;
  overflow-y: auto;
  background: linear-gradient(0deg, rgba(49, 49, 53, 1) 0%, rgba(136, 221, 160, 1) 100%);
  width: 100%;
  box-sizing: border-box;
  margin-top: 60px;
  background: linear-gradient(0deg, rgba(49, 49, 53, 1) 0%, rgba(136, 221, 160, 1) 100%);
  display: flex;
  flex-direction: column-reverse;
}


.send-message {
  bottom: 0px;
  width: 100%;
  padding: 10px;
  background-color: #24242a;
  display: flex;
  box-sizing: border-box;
  box-shadow: var(--div-shadows2);
  height: 90px;
  border-bottom-right-radius: 30px;

}

.form-input__input {
  padding: 7px;
  box-shadow: var(--div-shadows);
  border-radius: 5px 0 0 5px;
  border: none;
  background-color: white;
  color: #1c2c4c;
  font-size: initial;
  width: 100%;
  overflow: auto;
}

.send-message>input:placeholder {
  color: #ddd;
}

.send-message> :is(input, button):focus {
  outline: none;
}



.send-message__buttons {
  box-sizing: border-box;
  display: flex;
  width: 200px;
}

.send-message__buttons__img {
  width: 90px;
  box-sizing: border-box;
  background: #fff;
}

.send-message__buttons__img>img {
  box-sizing: border-box;
  position: absolute;
  padding-top: 11px;
  width: 35px;
}

.send-message__buttons__img>input {
  background: blue;
  width: 50px;
  height: 100%;
  opacity: 0;
}

.send-message__buttons>button {
  width: 100%;
  display: block;
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  color: #242443;
  background-color: var(--third-col);
  border: none;
  font-size: initial;
  font-weight: bold;
  box-shadow: var(--btn-shadows);
}
